{% extends 'admin_base.html' %}

{% block page_content %}
<div class="manage-quizzes-content">
    <!-- Displaying quizzes as cards -->
    <div class="quiz-cards-container">
        {% for quiz in quizzes %}
            {% if loop.index0 % 4 == 0 %}
                {% set quiz_color = 'rgb(182, 26, 26)' %}
            {% elif loop.index0 % 4 == 1 %}
                {% set quiz_color = 'rgb(239, 168, 25)' %}
            {% elif loop.index0 % 4 == 2 %}
                {% set quiz_color = 'rgb(21, 185, 214)' %}
            {% else %}
                {% set quiz_color = 'rgb(37, 175, 53)' %}
            {% endif %}

            <div class="quiz-card">
                <!-- Header with dynamic color -->
                <div class="quiz-card-header" style="background-color: {{ quiz_color }}; color: white;">
                    {{ quiz[0] }}  <!-- Chapter Name -->
                </div>
                
                <!-- Card Body -->
                <div class="quiz-card-body">
                    <p class="quiz-description" style="color: #555;min-height:30px;">
                        <strong>Chapter name: </strong> {{ quiz[2] }} <!-- Quiz Remark -->
                    </p>
                    <p class="quiz-description" style="color: #555;">
                        <strong>Remark:</strong> {{ quiz[3] }} <!-- Quiz Remark -->
                    </p>
                    <hr> <!-- Line between description and questions -->
                    <p style="color: #555;">
                        <strong>Questions:</strong> {{ quiz[4] }} <!-- Number of Questions -->
                    </p>
                </div>
                
                <!-- Footer for Edit Button (currently without link) -->
                <div class="quiz-card-footer">
                    <!-- No link for now -->
                    <a href="{{ url_for('admin.manage_questions', quiz_id=quiz[1]) }}" class="btn" style="text-decoration:none;">✏️ Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="floating-circle">
        <a href="{{ url_for('admin.add_quiz') }}" style="color:white;text-decoration:none;">+</a>
    </div>
</div>

{% endblock %}


