{% extends 'student_base.html' %}

{% block page_content %}
<h2 style="color: #333; text-align: center;">Correct Answers</h2>

<div class="quiz-container">
    {% for question in questions %}
    <div class="question-card">
        <p style="color: black;"><strong>Q{{ loop.index }}:</strong> {{ question['question_text'] }}</p>
        
        <ul>
            <li style="color: {% if question['correct_option'] == 1 %} green {% else %} red {% endif %};">
                (A) {{ question['option_1'] }}
            </li>
            <li style="color: {% if question['correct_option'] == 2 %} green {% else %} red {% endif %};">
                (B) {{ question['option_2'] }}
            </li>
            <li style="color: {% if question['correct_option'] == 3 %} green {% else %} red {% endif %};">
                (C) {{ question['option_3'] }}
            </li>
            <li style="color: {% if question['correct_option'] == 4 %} green {% else %} red {% endif %};">
                (D) {{ question['option_4'] }}
            </li>
        </ul>
    </div>
    {% else %}
        <p style="text-align: center;">No questions found for this quiz.</p>
    {% endfor %}
</div>
{% endblock %}